#printable-area {
  background-color: #fff !important;
}

.not-found {
  color: red;
}

.report-header {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 4px !important;
}

.sub-title {
  font-size: 17px;
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.success {
  color: green;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.failure {
  color: red;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

// .scheduler-left-menu-container-list {
//   margin-top: 14px;
//   width: 100%;
// }

// .runprocess {
//   background-color: #009999;
//   color: #fff;
//   font-family: 'Raleway', sans-serif, Roboto, "Helvetica Neue", sans-serif;
//   font-weight: bold;
//   outline: none;
// }

// .runprocess:focus {
//   background-color: #009999;
//   color: #fff;
//   outline: none;
//   font-weight: bold;
//   border-style: none;
// }

// // FAB Button
// .fab-add-btn button,
// .fab-add-btn a {
//   outline: none;
//   right: 50px;
//   bottom: 50px;
//   height: 60px;
//   width: 60px;
//   position: fixed !important;
//   color: #fff;
//   background-color: #009999;
// }

// table {
//   width: 100%;
// }

// .table-container {
//   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;

//   .mat-sort-header-container {
//     th>button>b {
//       outline: none !important;
//       border-style: none;
//     }
//   }
// }

// .search-row {
//   width: 100%;
// }

// .edit {
//   outline: none;
// }

// .mat-form-field {
//   font-size: 14px;
//   width: 100%;
// }

// .menu-more-options {
//   padding: 16px 0px;
//   display: table-cell;
//   user-select: none;
//   width: 256px;

//   .menu-more-option {
//     outline: none;
//     transition: all 0.25s linear;
//     box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);

//     .menu-more-option-span {
//       border: 10px;
//       box-sizing: border-box;
//       display: block;
//       font-family: Roboto, sans-serif;
//       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//       cursor: pointer;
//       text-decoration: none;
//       margin: 0px;
//       padding: 0px;
//       outline: none;
//       font-size: 15px;
//       font-weight: inherit;
//       position: relative;
//       z-index: 1;
//       color: rgba(0, 0, 0, 0.87);
//       line-height: 32px;
//       transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
//       min-height: 32px;
//       white-space: nowrap;
//       background: none;

//       .menu-more-div {
//         margin-left: 0px;
//         padding: 0px 24px 0px 64px;
//         position: relative;

//         .menu-more-option-name {
//           color: rgb(117, 117, 117);
//           position: absolute;
//           font-size: 24px;
//           display: block;
//           user-select: none;
//           transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
//           height: 24px;
//           width: 24px;
//           top: 4px;
//           margin: 0px;
//           left: 24px;
//         }
//       }
//     }
//   }
// }

// .rouded-pill-pd-5 {
//   padding: 5px;
// }

// .menu-more-option:hover {
//   border-left: 5px solid black;
//   padding: 5px;
//   color: #2196f3 !important;
//   outline: none;
//   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
// }

// // TODO: Improve This Approach

// // Menu Option Info Title
// .menu-option-info h4 {
//   font-size: 24px;
//   color: rgba(0, 0, 0, 0.8);
//   font-weight: 300;
//   padding: 16px 0px 5px;
//   margin: 0px;
// }

// .menu-option-info .icon {
//   position: relative;
//   font-size: 24px;
//   display: inline-block;
//   user-select: none;
//   transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
//   top: -2px;
// }

// .menu-option-info .link {
//   border: 10px;
//   box-sizing: border-box;
//   display: inline-block;
//   font-family: Roboto, sans-serif;
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   cursor: pointer;
//   text-decoration: none;
//   margin: 0px;
//   padding: 12px;
//   outline: none;
//   font-size: 0px;
//   font-weight: inherit;
//   position: relative;
//   vertical-align: middle;
//   z-index: 1;
//   overflow: visible;
//   transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
//   width: 48px;
//   height: 48px;
//   background: none;
// }

// // td,
// // th {
// //   width: 30%;
// // }

// // .mat-column-description {
// //     flex: 0 0 100px;
// //   }

// // .mat-column-description {
// //   max-width: 20%;
// // }

// .mat-column-created,
// .mat-column-lastUpdated {
//   max-width: 150px;
// }

// .mat-column-description {
//   max-width: 600px;
//   padding-right: 10px;
//   padding-left: 10px;
// }
