<div>
    <div class="row ml-1">
        <div class="scheduler-form-container">
            <form [formGroup]="updateIntegrationForm">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h4 class="menu-option-info">
                                <span class="link">
                                    <div>
                                        <span (click)="onBack()" matRipple class="material-icons">
                                            keyboard_return
                                        </span>
                                    </div>
                                </span>Integration Configuration Form
                                <span class="link">
                                    <div matRipple>
                                        <span class="material-icons">
                                            edit
                                        </span>
                                    </div>
                                </span>
                            </h4>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="ml-4 mr-4">
                        <div class="field-form-input-div">
                            <mat-form-field class="sc-input-field" appearance="standard">
                                <mat-label>Name(*)</mat-label>
                                <input id="field-name" formControlName="name" matInput />
                                <mat-error *ngIf="
                    updateIntegrationForm.get('name').hasError('notUnique')
                  ">
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="field-form-input-div">
                            <mat-form-field class="sc-input-field">
                                <input formControlName="description" matInput placeholder="Description" />
                            </mat-form-field>
                        </div>
                        <div formGroupName="systemInfo" class="row field-form-input-div">
                            <div class="col-md-6">
                                <div class="field-form-input-div">
                                    <mat-form-field class="sc-input-field">
                                        <mat-label>Data Source Systems</mat-label>
                                        <mat-select formControlName="from" [value]="">
                                            <mat-option *ngFor="let system of systems"
                                                [value]="{ id: system?.id, name: system?.name }">
                                                {{ system?.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <mat-progress-bar *ngIf="(systems$ | async)?.length <= 0" mode="indeterminate">
                                </mat-progress-bar>
                            </div>
                            <div class="col-md-6">
                                <div class="field-form-input-div">
                                    <mat-form-field class="sc-input-field">
                                        <mat-label>Data Recipient Systems</mat-label>
                                        <mat-select [value]="" formControlName="to">
                                            <mat-option *ngFor="let system of systems"
                                                [value]="{ id: system?.id, name: system?.name }">
                                                {{ system?.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <mat-progress-bar *ngIf="(systems$ | async)?.length <= 0" mode="indeterminate">
                                </mat-progress-bar>
                            </div>
                        </div>
                        &nbsp;
                        <div class="field-form-input-div">
                            <mat-checkbox formControlName="isAllowed" class="example-margin">Is this integration allowed
                                to be executed in the next
                                schedule?
                            </mat-checkbox>
                        </div>
                        <div class="field-form-input-div">
                            <mat-checkbox formControlName="isUsingHIM" class="example-margin">Is using Health
                                Information Mediator(HIM) -
                                <strong>Ministry of Health</strong>
                                Mediator during Data Exchange?
                            </mat-checkbox>
                        </div>
                        <div class="field-form-input-div">
                            <mat-checkbox formControlName="isUsingLiveDhis2" class="example-margin">Is using Live DHIS2
                                as Data Source during Data Exchange?
                            </mat-checkbox>
                        </div>
                        <div class="field-form-input-div">
                            <mat-form-field class="sc-input-field" appearance="standard">
                                <mat-label>Default Category Option Combo Id</mat-label>
                                <input matInput formControlName="defaultCOC" />
                                <mat-icon matSuffix [matTooltip]="
                    'Default Category Option Combo Id of the Receiving System'
                  ">info</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="field-form-input-div">
                            <mat-form-field class="sc-input-field" appearance="standard">
                                <mat-label>Data From URL</mat-label>
                                <input matInput formControlName="dataFromURL" />
                                <mat-icon matSuffix [matTooltip]="'URL of the Data Source System'">info</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="field-form-input-div">
                            <mat-form-field class="sc-input-field" appearance="standard">
                                <mat-label>Data Import URL</mat-label>
                                <input matInput formControlName="importURL" />
                                <mat-icon matSuffix [matTooltip]="'URL of the Data Recepient System'">info</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="field-form-input-div">
                            <app-batch-selection [availableBatches]="batches$ | async"
                                (selectedBatchEventEmitter)="getSelectedBatch($event)"></app-batch-selection>
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="ml-4 mr-4 mb-4">
                        <div class="form-footer">
                            <div class="form-footer-div example-button-row">
                                <button *ngIf="!isUpdating" mat-stroked-button class="form-footer-save-btn"
                                    [disabled]="isUpdating" [class.spinner]="isUpdating" (click)="onSubmitForm()">
                                    Update
                                </button>

                                <button *ngIf="isUpdating" mat-stroked-button color="primary"
                                    class="form-footer-save-btn" [disabled]="isUpdating" [class.spinner]="isUpdating">
                                    Updating...
                                </button>
                            </div>
                            <button mat-stroked-button matRipple color="warn" class="form-footer-cancel-btn"
                                (click)="onBack()">
                                Cancel
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
    </div>
</div>