<main *ngIf="(systems$ | async)?.length === 0">
    <app-progress-loader></app-progress-loader>
</main>
<div *ngIf="(systems$ | async)?.length > 0">
    <div class="table-box-shodow">
        <div>
            <h4 class="menu-option-info">
                Integration Config Management
            </h4>
        </div>
        <div class="table-box-shodow">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Search in list</mat-label>
                        <input matInput (keyup)="applyFilter($event.target.value)" />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div [matTooltip]="'This feature is Under Construction'" class="col-md-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Search in list from remote</mat-label>
                        <input [disabled]="true" matInput (keyup)="applyFilter($event.target.value)" />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="table-container">
            <div *ngIf="dataSource">
                <table mat-table [dataSource]="dataSource" matSort matSortActive="created" matSortDirection="asc"
                    matSortDisableClear>
                    <ng-container class="table-header" matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Name</b>
                        </th>
                        <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
                    </ng-container>
                    <ng-container class="table-header" matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Description</b>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.description }}
                        </td>
                    </ng-container>

                    <ng-container class="table-header" matColumnDef="isAllowed">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Is Allowed</b>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox class="checkbox-clr" [checked]="element?.isAllowed"
                                [aria-label]="element?.isAllowed">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container class="table-header" matColumnDef="isUsingHIM">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Is Using HIM</b>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox class="checkbox-clr" [checked]="element?.isUsingHIM"
                                [aria-label]="element?.isUsingHIM">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container class="table-header" matColumnDef="isUsingLiveDhis2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Is Using LIVE DHIS2</b>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox class="checkbox-clr" [checked]="element?.isUsingLiveDhis2"
                                [aria-label]="element?.isUsingLiveDhis2">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container class="table-header" matColumnDef="createdBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Created By</b>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.createdBy }}
                        </td>
                    </ng-container>

                    <ng-container class="table-header" matColumnDef="lastUpdatedBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Last Updated By</b>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.lastUpdatedBy }}
                        </td>
                    </ng-container>

                    <ng-container class="table-header" matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Creation Date</b>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.createdAt | date }}
                        </td>
                    </ng-container>

                    <ng-container class="table-header" matColumnDef="lastUpdatedAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Last Updated Date</b>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element?.lastUpdatedAt | date }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="menu">
                        <th mat-header-cell *matHeaderCellDef>
                            <i class="material-icons">
                                settings_applications
                            </i>
                        </th>
                        <td [matTooltip]="'More Options'" mat-cell *matCellDef="let element">
                            <i class="material-icons rounded-pill rouded-pill-pd-5" matRipple
                                [matMenuTriggerFor]="appMenu">
                                more_vert
                            </i>
                            <mat-menu #appMenu="matMenu">
                                <div role="menu" class="menu-more-options">
                                    <div class="menu-more-option" (click)="onEdit(element)">
                                        <span matRipple role="menuitem" tabindex="0" class="menu-more-option-span">
                                            <div>
                                                <div class="menu-more-div">
                                                    <span class="material-icons menu-more-option-name"
                                                        color="#757575">edit</span>
                                                    <div class="edit">
                                                        Edit
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="menu-more-option" (click)="onDelete(element)">
                                        <span matRipple role="menuitem" tabindex="0" class="menu-more-option-span">
                                            <div>
                                                <div class="menu-more-div">
                                                    <span class="material-icons menu-more-option-name"
                                                        color="#757575">delete</span>
                                                    <div class="edit">
                                                        Delete
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="menu-more-option" (click)="onViewMore(element)">
                                        <span matRipple role="menuitem" tabindex="0" class="menu-more-option-span">
                                            <div>
                                                <div class="menu-more-div">
                                                    <span class="material-icons menu-more-option-name"
                                                        color="#757575">details</span>
                                                    <div class="edit">
                                                        Show details
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </mat-menu>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[12, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <div>
        <div [matTooltip]="'Add New'" [matTooltipPosition]="'below'" class="fab-add-btn">
            <button (click)="openDataEntryForm()" class="fab" matRipple class="fab" mat-mini-fab color="primary">
                <i class="material-icons">
                    add
                </i>
            </button>
        </div>
    </div>
</div>