<main class="form">
    <div class="field-form-div">
        <form [formGroup]="createJobForm" class="field-form">
            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="jobName" matInput placeholder="Ex. National Health Portal - DHIS2 HMIS"
                        value="" />
                </mat-form-field>
            </div>
            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>System List</mat-label>
                    <mat-select formControlName="to">
                        <mat-option *ngFor="let system of systems" [value]="system?.id">
                            {{ system?.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-element-container">
                <app-job-selection></app-job-selection>
            </div>
            &nbsp;
            <div class="form-footer">
                <div class="form-footer-div example-button-row">
                    <button (click)="onSubmitForm()" mat-stroked-button class="form-footer-save-btn">
                        Create
                    </button>
                </div>
                <button mat-stroked-button matRipple color="warn" class="form-footer-cancel-btn">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</main>