<main class="form">
    <div class="field-form-div">
        <form [formGroup]="createJobForm" class="field-form">
            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput placeholder="Ex. National Health Portal" value="" />
                </mat-form-field>
            </div>
            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <input formControlName="description" matInput placeholder="Ex. National Health Data Warehouse"
                        value="" />
                </mat-form-field>
            </div>
            &nbsp;
            <div class="form-footer">
                <div class="form-footer-div example-button-row">
                    <button (click)="onSubmitForm()" mat-stroked-button class="form-footer-save-btn">
                        Create
                    </button>
                </div>
                <button mat-stroked-button matRipple color="warn" class="form-footer-cancel-btn">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</main>