.menu-container {
  width: auto;
  background-color: transparent;
  background-color: #e3e3e3;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  display: flex;
}

.menu-item {
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  text-decoration: none;
  margin: 1px;
  padding: 1px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  color: rgba(0, 0, 0, 0.6);
  width: 20%;
  text-transform: uppercase;
  background: none;
  font-weight: 600;
}

.tab-menu-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center;
  height: 38px;
  font-weight: 500;
}

.active {
  outline: none;
  background-color: #009999;
  color: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.tab-menu-item:focus {
  outline: none;
}
