.empty-list {
  font-size: 13px;
  color: rgb(64, 64, 64);
  font-style: italic;
  text-align: center;
  width: 100%;
  background: rgb(208, 208, 208);
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
