<main class="form">
    <div class="field-form-div">
        <form [formGroup]="createIntegrationForm" class="field-form">
            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput placeholder="Ex. National Health Portal - DHIS2 HMIS"
                        value="" />
                </mat-form-field>
            </div>

            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <input formControlName="description" matInput placeholder="Ex. National Health Data Warehouse"
                        value="" />
                </mat-form-field>
            </div>

            <div class="form-element-container row">
                <div class="col-md-6">
                    <mat-form-field placeholder="Ex. From National Health Portal" class="example-full-width">
                        <mat-label>From</mat-label>
                        <mat-select formControlName="from">
                            <mat-option *ngFor="let system of systems" [value]="system?.id">
                                {{ system?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>To</mat-label>
                        <mat-select formControlName="to">
                            <mat-option *ngFor="let system of systems" [value]="system?.id">
                                {{ system?.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Default Category Option Combo (Optional)</mat-label>
                    <input formControlName="defaultCOC" matInput placeholder="Ex. VBs0WoStDh9" value="" />
                </mat-form-field>
            </div>
            &nbsp;
            <div class="form-element-container">
                <section class="example-section">
                    <mat-checkbox formControlName="isAllowed" class="example-margin">Is Allowed To Send Data?
                    </mat-checkbox>
                </section>
            </div>
            &nbsp;
            <div class="form-element-container">
                <section class="example-section">
                    <mat-checkbox formControlName="isUsingHIM" class="example-margin">Is Using HIM Mediator System?
                    </mat-checkbox>
                </section>
            </div>
            &nbsp;
            <div class="form-element-container">
                <section class="example-section">
                    <mat-checkbox formControlName="isUsingLiveDhis2" class="example-margin">Is Using LIVE DHIS2 HMIS as
                        Data Source?</mat-checkbox>
                </section>
            </div>
            &nbsp;
            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Data From URL (Optional)</mat-label>
                    <input matInput formControlName="dataFromURL" placeholder="Ex. https://dhis.moh.go.tz/" value="" />
                </mat-form-field>
            </div>

            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Data To URL (*)</mat-label>
                    <input formControlName="importURL" matInput placeholder="Ex. https://dhis.moh.go.tz/" value="" />
                </mat-form-field>
            </div>
            &nbsp;
            <div class="form-footer">
                <div class="form-footer-div example-button-row">
                    <button (click)="onSubmitForm()" mat-stroked-button class="form-footer-save-btn">
                        Create
                    </button>
                </div>
                <button mat-stroked-button matRipple color="warn" class="form-footer-cancel-btn">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</main>