.form {
  border-radius: 4px;
  margin: 12px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  background-color: #fff;
}

.form-element-group {
  border-radius: 4px;
  margin: 12px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100% !important;
  background-color: #fff;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.field-form-div {
  width: 100%;
  margin: 0px auto 2rem;
  padding: 2rem 5rem 4rem;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 85%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

.form-element-container {
  width: 100%;
  cursor: auto;
}

.monaco-editor {
  height: 500px;
}

.field-form {
  min-width: 50%;
  max-width: 100%;
  width: 100%;
}

.mt-app-select {
  margin-top: 20px;
}

// Form Footer
.form-footer {
  margin-top: 1rem;

  .form-footer-div {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    display: inline-block;
    min-width: 88px;
    margin-right: 1rem;
    width: 10rem;

    .form-footer-save-btn {
      border: 10px;
      box-sizing: border-box;
      display: inline-block;
      font-family: Roboto, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      text-decoration: none;
      margin: 0px;
      padding: 0px;
      outline: none;
      font-size: inherit;
      font-weight: inherit;
      position: relative;
      z-index: 1;
      height: 36px;
      line-height: 36px;
      width: 100%;
      border-radius: 2px;
      transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      text-align: center;
    }
  }

  .form-footer-cancel-btn {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    overflow: hidden;
    text-align: center;
    width: 10rem;
  }
}

// Material Overriden styles
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(51, 153, 255) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(51, 153, 255) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(51, 153, 255) !important;
}

.example-full-width {
  width: 100%;
}

// Image File Upload CSS

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
  }
  .file-upload .file-select {
    display: block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
  }
  .file-upload .file-select .file-select-button {
    background: #dce4ec;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
  .file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
  }
  .file-upload .file-select:hover {
    border-color: rgb(51, 153, 255);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .file-upload .file-select:hover .file-select-button {
    background: rgb(51, 153, 255);
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .file-upload.active .file-select {
    border-color: rgb(51, 153, 255);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .file-upload.active .file-select .file-select-button {
    background: rgb(51, 153, 255);
    color: #ffffff;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  .file-upload .file-select input[type='file'] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .file-upload .file-select.file-select-disabled {
    opacity: 0.65;
  }
  .file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 2px solid #dce4ec;
    color: rgb(51, 153, 255);
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #ffffff;
    overflow: hidden;
    position: relative;
  }
  .file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #dce4ec;
    color: #666666;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
  .file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
  }
