<main>
    <div class="form-header-container">
        <div layout="row" layout-sm="column" layout-align="end center" class="form-header-detail">
            <div class="back">
                <button class="back-button" [matTooltip]="'Back'" (click)="onBack()" mat-mini-fab>
                    <span class="material-icons">
                        keyboard_backspace
                    </span>
                </button>
            </div>
            &nbsp;
            <div class="title">
                <span> Batch Configuration Form</span>
            </div>
        </div>
    </div>
</main>
<main class="form-container">
    <div class="field-form-div">
        <form [formGroup]="updateBatchForm" class="field-form">
            <div class="field-form-input-div">
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Name(*)</mat-label>
                    <input id="field-name" formControlName="name" matInput />
                    <mat-error *ngIf="updateBatchForm.get('name').hasError('notUnique')">
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="field-form-input-div">
                <mat-form-field class="example-full-width">
                    <input formControlName="description" matInput placeholder="Description" />
                </mat-form-field>
            </div>
            <div class="form-footer">
                <div class="form-footer-div example-button-row">
                    <button *ngIf="!isUpdating" mat-stroked-button class="form-footer-save-btn" [disabled]="isUpdating"
                        [class.spinner]="isUpdating" (click)="onSubmitForm()">
                        Update
                    </button>

                    <button *ngIf="isUpdating" mat-stroked-button color="primary" class="form-footer-save-btn"
                        [disabled]="isUpdating" [class.spinner]="isUpdating">
                        Updating...
                    </button>
                </div>
                <button mat-stroked-button matRipple color="warn" class="form-footer-cancel-btn" (click)="onBack()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</main>