<main class="form">
    <div class="field-form-div">
        <form [formGroup]="createJobForm" class="field-form">
            <div class="form-element-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="jobName" matInput placeholder="Ex. National Health Portal - DHIS2 HMIS"
                        value="" />
                </mat-form-field>
            </div>
            <div class="form-element-container">
                <section class="example-section">
                    <mat-checkbox formControlName="isExecuted" class="example-margin">Included in the next Data Exchange
                        Schedule(DES)?
                    </mat-checkbox>
                </section>
            </div>

            <div>
                <div class="form-element-container row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Dataset Name</mat-label>
                            <input formControlName="name" matInput placeholder="Ex. Maternal and Neonatal Death"
                                value="" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                            <mat-label>Dataset ID</mat-label>
                            <input formControlName="id" matInput placeholder="Ex. pVZJqihw4fC" value="" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <div class="form-element-container">
                    <section class="example-section">
                        <mat-checkbox formControlName="hasUids" class="example-margin">Organisation Unit has UIDs?
                        </mat-checkbox>
                    </section>
                </div>
                &nbsp;
                <div class="form-element-container">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">
                                        Choose File
                                    </div>
                                    <div class="file-select-name" id="noFile">
                                        {{ 'No file chosen...' }}
                                    </div>
                                    <input id="chooseFile" type="file" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button mat-stroked-button>
                                Download Template
                                <span class="material-icons">
                                    cloud_download
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                &nbsp;
            </div>
            <hr />
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-element-container">
                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="fileName">
                                                Choose Periods File
                                            </div>
                                            <div class="file-select-name" id="noFile">
                                                {{ 'No file chosen...' }}
                                            </div>
                                            <input id="chooseFile" type="file" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button mat-stroked-button>
                                    Download Template
                                    <span class="material-icons">
                                        cloud_download
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-element-container">
                                    <div class="file-upload">
                                        <div class="file-select">
                                            <div class="file-select-button" id="fileName">
                                                Choose Sub Periods File
                                            </div>
                                            <div class="file-select-name" id="noFile">
                                                {{ 'No file chosen...' }}
                                            </div>
                                            <input id="chooseFile" type="file" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button mat-stroked-button>
                                    Download Template
                                    <span class="material-icons">
                                        cloud_download
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="form-element-container">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <section class="example-section">
                                <mat-checkbox formControlName="hasMapping" class="example-margin">Has Organisation Unit
                                    and Data Mapping?
                                </mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Organisation Unit Mapping Criteria - ID</mat-radio-button>
                                &nbsp;
                                <mat-radio-button value="2">Organisation Unit Mapping Criteria - CODE</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="form-element-container">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">
                                        Choose Organisation Unit Mapping File
                                    </div>
                                    <div class="file-select-name" id="noFile">
                                        {{ 'No file chosen...' }}
                                    </div>
                                    <input id="chooseFile" type="file" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button mat-stroked-button>
                                Download Template
                                <span class="material-icons">
                                    cloud_download
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="form-element-container">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <section class="example-section">
                                <mat-checkbox formControlName="hasMapping" class="example-margin">Has Data Mapping? Eg.
                                    Indicator, Data Elements...
                                </mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-6">
                            <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="1">Data Mapping Criteria - ID</mat-radio-button>
                                &nbsp;
                                <mat-radio-button value="2">Data Mapping Criteria - CODE</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="form-element-container">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="file-upload">
                                <div class="file-select">
                                    <div class="file-select-button" id="fileName">
                                        Choose Data Mapping File
                                    </div>
                                    <div class="file-select-name" id="noFile">
                                        {{ 'No file chosen...' }}
                                    </div>
                                    <input id="chooseFile" type="file" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button mat-stroked-button>
                                Download Template
                                <span class="material-icons">
                                    cloud_download
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <div class="form-footer">
                <div class="form-footer-div example-button-row">
                    <button (click)="onSubmitForm()" mat-stroked-button class="form-footer-save-btn">
                        Create
                    </button>
                </div>
                <button mat-stroked-button matRipple color="warn" class="form-footer-cancel-btn">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</main>